body {
  color: #333;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  letter-spacing: .05em;
}

a {
  color: #1ca9e3;
  transition: opacity .3s;
  text-decoration: none;
}

img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}



.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  padding-top: 73px;
}

.section {
  padding: 90px 0;
}

.section:nth-of-type(even) {
  background-image: url("../img/pastel_00033.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section:nth-of-type(odd) {
  background-color: #f7f7f7;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  color: #333;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
}

.lead {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  background-color: #fff;
  box-shadow: 0 5px 10px -6px rgba(0,0,0,.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 1.2;
  margin-right: 20px;
}

.header-logo a {
  color: #333;
  font-weight: 700;
}

.gnav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.gnav-item:not(:last-child) {
  margin-right: 20px;
}

.gnav-item a {
  color: #333;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: .05em;
  padding: 5px 0;
  position: relative;
  transition: .3s;
}
.gnav-item a:after {
  background-color: #333;
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  height: 3px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transition: .3s;
  width: 0;
}

.gnav-item a:hover:after {
  width: 100%;
}

/*--------------------------------
 メインビジュアル
---------------------------------*/
.mv {
  align-items: center;
  background-image: url("../img/pastel_00033.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 85vh;
  justify-content: center;
  text-align: center;
}

.mv-container {
  padding: 0 40px;
}

.mv-title {
  animation: fadeIn ease-in 1s 0s alternate;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: .1em;
  line-height: 1.2;
  margin-bottom: 5px;
}

@keyframes fadeIn{
  from{
    opacity: 0;
    transform: scale(.5);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}

.mv-subtitle {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .08em;
  line-height: 1;
  margin-bottom: 40px;
}

.mv-text {
  font-size: 16px;
  line-height: 1.8;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  color: #333;
  margin-right: 1.58730%;
  margin-bottom: 40px;
  width: 31.74603%;
}

.works-item:hover {
  opacity: .9;
}

.works-item:hover .works-img img{
  transform: scale(1.02);
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-img {
  border: 1px solid #e6e6e6;
  overflow: hidden;
}

.works-img img {
  transition-duration: 0.2s;
}

.works-name {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.works-info {
  font-size: 10px;
  margin-top: 5px;
}

/*--------------------------------
 Skill
---------------------------------*/
#skill p{
  font-weight: normal;
  text-align: center;
}
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 48%;
}

.skill-img {
  height: auto;
  margin-right: 20px;
  width: 60px;
}

.skill-body {
  flex: 1;
}

.skill-name {
  margin-bottom: 10px;
}

.skill-text {
  font-size: 14px;
  line-height: 1.8;
}

/*--------------------------------
 About
---------------------------------*/
.profile {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 800px;
}
.profile-img {
  border-radius: 50%;
  margin-right: 30px;
  width: 20%;
}
.profile-img img {
  border-radius: 50%;
}
.profile-body {
  flex: 1;
}

.profile-body p {
  font-size: 15px;
  line-height: 1.8;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact {
  text-align: center;
}

.contact-item:not(:last-child) {
  margin-right: 10px;
}

.contact-text {
  margin-top: 10px;
}
/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  background-color: #4c4c4c;
  bottom: 75px;
  cursor: pointer;
  display: none;
  font-weight: bold;
  height: 50px;
  position: fixed;
  right: 30px;
  text-align: center;
  width: 50px;
}

.page-top:hover{
  background-color: #fff;
  border: 1px solid #4c4c4c;

}

.page-top .material-icons-outlined {
  color: #fff;
  line-height: 50px;
}
.page-top:hover .material-icons-outlined {
  color: #4c4c4c;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  background-color: #333;
  padding: 30px;
}

.copyright {
  color: #797979;
  font-size: 10px;
  text-align: center;
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 80px 0;
}

.article-container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.article-title {
  margin-bottom: 30px;
  text-align: center;
}

.article-body {
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 720px;
}

.article-body h3 {
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 1em;
  position: relative;
}

.article-body h3:not(:first-child) {
  margin-top: 50px;
}

.article-body h3::before {
  background-color: #333;
  border-radius: 3px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.article-body p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.article-body img {
  border: 1px solid #e6e6e6;
}

.home-link {
  text-align: center;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .lead {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .wrapper {
    padding-top: 57px;
  }

  .section {
    padding: 60px 0;
  }

  .container {
    padding: 0 20px;
  }

  /* ヘッダー */
  .header .container {
    padding: 15px;
  }

  .header-logo {
    font-size: 15px;
    margin-right: 15px;
  }

  .gnav-item:not(:last-child) {
    margin-right: 10px;
  }

  .gnav-item a {
    font-size: 10px;
  }

  .gnav-item a:after {
    display: none;
  }

  /*  メインビジュアル */
  .mv {
    height: 75vh;
  }

  .mv-container {
    padding: 0 20px;
  }

  .mv-title {
    font-size: 30px;
  }
  .mv-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .mv-text {
    font-size: 14px;
    line-height: 1.7;
  }

  /* Works */
  .works-name {
    font-size: 12px;
  }

  .works-info {
    margin-top: 3px;
  }

  .works-list {
    justify-content: space-between;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    margin-bottom: 35px;
    width: 100%;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-name {
    margin-bottom: 5px;
  }

  .skill-text {
    font-size: 13px;
    line-height: 1.7;
  }

  /* About */
  .profile {
    display: block;
  }
  .profile-img {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 150px;
  }

  .profile-body p {
    font-size: 14px;
    line-height: 1.7;
  }

  /* フッター */
  .footer {
    padding: 20px;
  }

  /* 下層ページ */
  .article {
    padding: 50px 0;
  }

  .article-body h3 {
    font-size: 16px;
    padding-left: .8em;
  }

  .article-body h3:not(:first-child) {
    margin-top: 30px;
  }

  .article-body p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }
}
